* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.grid-box {
  padding: 0;
  margin: 0 auto;
}
.grid-box:before,
.grid-box:after {
  content: '';
  display: table;
  clear: both;
}
.grid-btn {
  float: left;
  width: 30px;
  height: 30px;
  border: solid 1px #ccc;
  margin: -1px 0 0 -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.player-ele {
  text-align: center;
  padding: 10px 15px;
}
.reset-btn {
  padding: 6px 12px;
}
