.lgmap-labelmarker {
    position: absolute;
    width: 0;
    height: 0;
}
.lgmap-labelmarker .lgbmap-lm-imgs {
    cursor: pointer;
}
.lgmap-labelmarker .lgbmap-lm-circle,
.lgmap-labelmarker img {
    position: absolute;
    left: -50%;
    top: -50%;
    transform: translate(-50%, -50%);
}
.lgmap-labelmarker .lgbmap-lm-circle {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #bf392a;
}
.lgmap-labelmarker img.lgbmap-lm-img1 {
    width: 22px;
}
.lgmap-labelmarker img.lgbmap-lm-img2 {
    width: 16px;
}
.lgmap-labelmarker img.lgbmap-lm-img3 {
    width: 10px;
}
.lgmap-labelmarker .lgbmap-lm-txt {
    font-size: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
    width: 50px;
    word-wrap: break-word;
    text-align: center;
    display: none;
    line-height: 1;
    color: #fff;
    font-weight: bold;
}
.lgmap-labelmarker .lgbmap-lm-txt.center {
    top: -6px;
}
.lgbmap-lm-ssh .lgmap-labelmarker .lgbmap-lm-txt,
.lgmap-labelmarker.txt-show .lgbmap-lm-txt {
    display: block;
}
