@charset "utf-8";
/* CSS q617942752 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, b { padding: 0; margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img, a img { border:0 none; }
legend { *margin-left:-7px;}
address, caption, cite, code, dfn, em, strong, var { font-weight: normal; font-style: normal; }
em, strong { font-weight:700;}
ol, ul { list-style: none; }
caption { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; font-size: 100%;}
q:before, q:after { content:"" }
abbr, acronym { border:0; font-variant:normal; }
input, textarea, select { font-family:inherit; font-size:inherit; *font-size:100%;
font-weight:inherit; }
select, input, button, button img, textarea, img { margin:0; vertical-align:middle }
input, button, textarea, img { line-height:normal; outline:0 }
/*reset end*/
body {color:#444; background:#fff; font:12px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
a { color:#444; text-decoration:none; outline:none; font-size:12px; }
a:hover { color:#CD0200; text-decoration:underline; }
.clear { clear: both; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.floatL{float:left}
.floatR{float:right}
.relative{position:relative;}
.absolute{position:absolute}
.red{color:red}
.gray{color:gray;}
/*layout*/
.layout{width:1000px;margin:0 auto;}
.top{height:26px;line-height:26px; background:#f7f7f7;border-bottom:1px solid #dcdcdc;color:#777}
.top a{color:#666}
.top a:hover{color:#f50}
.top_login{color:#333}
.top_login a{margin-right:5px;}
.header{height:70px;}
.logo{float:left;width:300px;height:70px;background:url(/images/chart/logo.jpg) no-repeat; text-indent:-9999em}
.logo a{width:300px;height:45px;margin-top:15px;display:block}
.top, .head_manu{min-width:1000px}
.top .relative{z-index:99}
/**/
#topNav{position:absolute; right:0;line-height:26px; height:26px;}
#topNav li{float:left; background:url(/images/chart/top_bg.png) no-repeat 999em 0; background-position: right 7px; margin-left: -1px; padding:0 10px;}
#topNav li.last{background:none; padding-right:0}
#topNav li.menu-item{padding:0}
#topNav .menu-hd { cursor: pointer; display: block; height: 20px; line-height: 18px; margin: 3px 0 0; padding: 0 22px 0 10px; position: relative; z-index: 10002; border:1px solid #bfbfbf; background:#fff}
#topNav .menu-hd b { -moz-transition: -moz-transform 0.2s ease-in 0s; border-color: #666 #fff #fff; border-style: solid; border-width: 4px; font-size: 0; height: 0; line-height: 0; position: absolute; right: 10px; top: 7px; width: 0; }
#topNav .menu-bd { background:#fff; border: 1px solid #fed8b1; display: none; position: absolute; top: 20px; z-index: 10001; }
#topNav .menu { position: relative; z-index:999}
#topNav .hover .menu-hd { border: 1px solid #fed8b1; border-bottom:none; background:#FFFCE5}
#topNav .hover .menu-bd { display: block; }
#topNav .hover .menu-hd b { border-color:#666 #FFFCE5 #FFFCE5; -moz-transform:rotate(180deg); -moz-transform-origin:50% 30%; -webkit-transform:rotate(180deg); -webkit-transform-origin:50% 30%; -o-transform:rotate(180deg); -o-transform-origin:50% 30%; transform:rotate(180deg); transform-origin:50% 30%; filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);top:3px\9; }
/**/
.cz_list dd .cz_img_1,.cz_list dd .cz_img_2,.cz_list dd .cz_img_3{background:url(/images/chart/index_icon.png) no-repeat; display: inline-block}
.cz_list{padding:0 5px;display:block;background-color:#fffce5;}
.cz_list dd{color:#959595; display:block; border-bottom:1px solid #fed8b1; float:none; clear: both; padding:4px 0 5px; *padding:3px 0 5px; position:relative; overflow:hidden}
.cz_list dd.noborder{ border:0; *padding-bottom:0}
.cz_list h3{ float:left; display:none; line-height:27px; color:#ad8146; font-size:12px}
.cz_list dd .cz_img_1,.cz_list dd .cz_img_2,.cz_list dd .cz_img_3{float:left; width:27px; height:27px; margin-right:10px}
.cz_list dd .cz_img_1{ background-position:0 0}
.cz_list dd .cz_img_2{ background-position:-28px 0}
.cz_list dd .cz_img_3{ background-position:-56px 0}
.cz_list dd .cz_img_4{ background-position:-84px 0}
.cz_list dd .cz_img_5{ background-position:-140px 0}
.cz_list dd .cz_img_6{ background-position:-112px 0}
.cz_list dd .cz_img_7{ background-position:-168px 0}
.cz_list dd .cz_text{display:block; float:left; line-height:25px;color:#2b2b2b; font-size:12px; width:170px; padding-top:1px}
.cz_list dd .cz_text a,.cz_list dd .cz_text a:visited{color:#ba2636; position:relative; display:inline-block; margin-right:14px; white-space:nowrap}
.cz_list dd .cz_text a:hover{color:#ba2636}
/**/
.head_manu{height:36px; border-top:1px solid #d91f15; border-bottom:2px solid #c42213; background:#dd2816; margin-bottom:10px;}
.quick,.box_cz li.li_k,.box_cz li.li_f,.box_cz li.li_t,.box_cz li.li_z{background:url(/images/chart/head_manu.png)}
.nav{height:33px;float:right;margin:37px 0 0; background:url(/images/chart/nav.png) no-repeat right -33px;}
.nav ul{background:url(/images/chart/nav.png) no-repeat; float:left;}
.nav ul li.current a, .nav ul li a:hover{font-weight:700;}
.nav ul li{float:left;height:32px;width:76px;border-right:1px solid #ededed;position:relative;}
.nav ul li.nav_end{border:0}
.nav ul li a{font-size:14px;display:block;height:33px;line-height:33px;text-align:center;color:#333;}
.nav ul li a:hover{font-size:14px;color:#c00;text-decoration:none;}
.icon_new{background:url(/images/chart/new_g.gif) no-repeat; display:block; width:20px; height:24px; text-indent:-9999em; font-size:0; position:absolute; top:-23px; left:50px}
/**/
.box_cz li.li_k{background-position:-6px 48px;}
.box_cz li.li_f{background-position:-43px 48px;}
.box_cz li.li_t{background-position:-78px 48px;}
.box_cz li{float:left;height:36px;line-height:36px;padding:0 8px;}
.box_cz li a{display:inline-block;color:#fff;}
.box_cz li a:hover{color:#ffd24b}
.box_cz li img{display:inline;vertical-align:middle;position:absolute;left:10px;}
.box_cz li.li_k,.box_cz li.li_f,.box_cz li.li_t,.box_cz li.li_z{height:34px;padding:0;width:22px;margin-left:10px;text-indent:-9999px; overflow:hidden}
.box_cz li.li_k{margin-left:0;}
.quick{width:71px; height:24px; position:absolute; z-index:3; display:block; text-indent:-999em; left:-75px; top:6px;}
/**/
.footer{margin:30px 0 10px;border-top:1px solid #CB1510;text-align:center;}
.foot_menu{height:37px;line-height:37px;border-bottom:1px solid #ccc;margin-bottom:5px;}
.foot_menu a{margin:0 5px;}
.footer p{padding:4px 5px;color:#969595;}
/**/
.path{padding-bottom:8px; border-bottom:1px solid #ccc; margin-bottom:10px; color:#777}
.path a{color:#2E6DC6; text-decoration:underline;}
.path a:hover{text-decoration:none; color:#c00}
/*********分页*********/
.page{border-top:1px solid #e3e3e3; padding:10px; margin:20px 0 10px; text-align:center; color:gray; font-size:12px;}
span.paging{padding:5px;margin:3px;text-align: center}
span.paging a{border: #ccc 1px solid;margin: 2px;color: #000; padding: 2px 5px 2px 5px;text-decoration: none; font-size:12px;}
span.paging a:hover{border: #ff4200 1px solid;color: #000;}
span.paging a:active{border: #f0f0f0 1px solid;color: #000;}
span.paging span.current{border: #e95f04 1px solid;padding: 2px 5px 2px 5px;font-weight: bold;margin: 2px;color: #fff;background-color: #ff6600}
span.paging span.disabled{border: #eee 1px solid;padding: 2px 5px 2px 5px;margin: 2px; color: #ddd;}
/*zst*/
.zst_cz{height:37px;line-height:37px; background:url(/images/chart/zst_cz.png) repeat-x; border:1px solid #d0d0d0;border-bottom:1px solid #d80309;}
.zst_cz ul{overflow:hidden;}
.zst_cz ul li{float:left;margin:0 1px;}
.zst_cz ul li.cz_k,.zst_cz ul li.cz_f,.zst_cz ul li.cz_t{margin:0 5px 0 8px;}
.zst_cz li a{display:inline-block; padding:0 4px;}
.zst_cz li a:hover,a.zs_now:link,a.zs_now:visited,.zst_cz li a.zs_now:hover{background:#d01914;height:30px; line-height:28px; margin:7px 0 0 0; color:#fff; text-decoration:none;border-radius:4px 4px 0 0;}
.zst_cz li a:hover{background:#ffa800;}
.cz_k,.cz_f,.cz_t{height:37px; text-indent:-9999em;background:url(/images/chart/zst_cz_icon.png) no-repeat;}
.cz_k{width:22px; background-position:0 0;}
.cz_f{width:28px; background-position:-22px 0}
.cz_t{width:29px; background-position:-50px 0}
.zst_title{position:absolute; left:-33px; top:-1px; text-indent:-9999em; background:url(/images/chart/zst.png) no-repeat center 10px; border:1px solid #d8d8d8; border-right:0; width:32px; height:95px;}
.ylsj{background:url(/images/chart/zst_2.png) no-repeat center 10px;}
.zst_cz_nav{border:1px solid #d0d0d0; border-width:0 1px 2px; background:url(/images/chart/zst_nav_bot.png) repeat-x bottom; line-height:21px;}
.zst_cz_b_top{background:url(/images/chart/zst_nav_top.png) repeat-x 0 0;padding:8px 0 10px 12px; color:#ccc;height:38px;}
.zst_cz_b_top strong{color:#333}
.zst_cz_nav a{margin-right:5px;line-height:21px; display:inline-block}
.zst_cz_nav a.cz_on:link,.zst_cz_nav a.cz_on:visited{background:#bc1813; padding: 0 3px;color:#fff; text-decoration:none; border-radius:2px;}
.p_10{padding:0 20px 0 0}
.zst_edit{margin-top:2px;padding:10px;height:20px; overflow:hidden; line-height:18px;}/* border:1px solid #ccc; border-bottom:0; background:#fafafa*/
.zst_edit a{color:#2E6DC6; text-decoration:underline}
.zst_edit a:hover{color:red;text-decoration:none;}
.zst_content .relative,.table_div{ border:#ccc solid 1px;}
.scroll_y{overflow: auto;overflow-y: hidden;width:998px; *padding-bottom:15px;}
.table_box { width:100%;}
.table_box td{ line-height:22px; text-align:center; border:#E4E4E4 solid 1px;}
.table_box .tabbg{ background:#f4f4f4;}/* FFE3B5 fff2e0*/
.table_box .tabbg td,.odd_even .tabbg th,.table_box .tabbg th{font-weight:100;line-height:24px; border-bottom:#ccc solid 1px; border-right:#ccc solid 1px;white-space:nowrap}
.k3_num th{cursor:pointer;}
.table_box thead td,.table_box tbody .tabbg td{color:#333;}
.table_box a{font-weight:700;color:#2E6DC6}
.table_box a:hover{color:#c00}
.single .tabbg td{line-height:30px;}
.odd_even .tabbg th{line-height:33px;border-left:#ccc solid 1px;}
.odd_even tbody td{line-height:30px}
.chartbox tbody td{border-left:#ccc solid 1px; border-bottom:#ccc solid 1px;height:30px;}/*k3 table*/
.ud_icon,.normal .ud_icon,.up .ud_icon,.down .ud_icon{background:url(/images/chart/updown.png) no-repeat 99999px 99999px;}
.ud_icon{display:inline-block; width:15px; height:15px; vertical-align:middle}
.normal{cursor:pointer;}
.normal .ud_icon{background-position:center center}
.up .ud_icon{background-position:4px 3px;}
.down .ud_icon{background-position: 4px -47px;}
.odd_even th.up ,.odd_even th.down{font-weight:700; background:#f8cf8b; color:#5c3c06;}
.tr_odd{background:#f4f3f3;}
.tr_over td{background:#ffeccd;}
.tr_click td,.tr_click{background:#FFCB80;font-weight: 700;}
.text_g,.text_01,.text_02,.text_03{ color:#bbb;}
/* .text_01{ color:#d1c4b2;}
.text_02{ color:#b0cce0;}
.text_03{ color:#bed2c0;} */
.pageSet a{background:#e7f1ff; border:1px solid #cce1ff; padding:1px 5px; text-decoration:none; margin-left:2px; display:inline-block;}
.pageSet a:hover,a.pageOn:link,a.pageOn:visited{background:#2e6dc6; border:1px solid #14386e; color:#fff;}
.dateSet{vertical-align:top;}
.dateSet a{line-height:16px;background:#f5f9ff; border:1px solid #ddeafd;}
.pageOn{font-weight:700}
.light_ball {background: url(/images/chart/light_ball.gif) center center no-repeat;color: #BFBFBF;cursor: pointer;}
.ball01{background:url(/images/chart/ball_red_s.gif);_text-indent:1px;}
.ballRed{background:url(/images/chart/ball_red.gif);}/*ssq*/
.ball02{background:url(/images/chart/ball_blue.gif);_text-indent:1px;}
.ball03{background:url(/images/chart/chartball_g.gif);}
.ball03_s{background:url(/images/chart/chartball_g_s.gif);}
.ballBlue{background:url(/images/chart/ball_blue_s.gif);_text-indent:1px;}
.ballBlue_b{background:url(/images/chart/ball_blue_b.gif);font-weight:700;;_text-indent:1px;}
.ball_yel{background:url(/images/chart/chartball_yel.gif);}
.ball_yel_b{background:url(/images/chart/chartball_yel_b.gif);}
.ball01,.ballRed,.ball02,.ball03,.ball03_s,.ballBlue,.ballBlue_b,.ball_yel,.ball_yel_b{background-repeat:no-repeat;background-position:center center; color:#fff}
.smallball {background: url(/images/chart/smallball.gif) no-repeat;font-size: 11px;font-weight:700;height: 14px; line-height:13px;width: 14px;position: absolute;top: -6px;*top: -8px;left:13px; *left:5px;}
.left_10{left:10px; *left:3px;}
.t_color1{color:red;}
.t_color2{color:#2E6DC6;}
.t_color3{color:#05650E;}
.bcolor_1,.bcolor_3{background:#F49000;color:#fff;}
.bcolor_2{background:#50C255;color:#fff;}
/* .bcolor_3{background:#4983ca;color:#fff;} */
.ncolor_1{color:red;background:#f4f4f4}
.ncolor_2{color:#2E6DC6;background:#f0f0f0}
.bcolor_ball,.bcolor_6{background:#51A2E1;color:#fff;}
.tabbg .bcolor_4,.bcolor_4{background:#F78912;color:#fff}
.bcolor_5{background:#f0f1fd;color:#893117}
.tabbg .k3_1,td.k3_1{background:#fb9b55;color:#fff;}
td.k3_2{background:#b16af3;color:#fff;}
td.k3_3{background:#51a2e1;color:#fff;}
.k3_b_1{background:#eef4ff;color:#333;font-weight:700;}
.k3_b_2{background:#FFE5E5;color:red}
.yl_color1{background:#eee;color: red}
.yl_color2{background:#ccc;color: #500}
/* td.bd_color{border-bottom:1px solid #fff; border-left:1px solid #fff} */
.wid_16{width:16px;}
.wid_18{width:18px;}
.wid_20{width:20px;}
.wid_21{width:21px;}
.wid_22{width:22px;}
.wid_23{width:23px;}
.wid_25{width:25px;}
.wid_26{width:26px;}
.wid_28{width:28px;}
.wid_29{width:29px;}
.wid_30{width:30px;}
.wid_33{width:33px;}
.wid_35{width:35px;}
.wid_38{width:38px;}
.wid_40{width:40px;}
.wid_42{width:42px;}
.wid_43{width:43px;}
.wid_45{width:45px;}
.wid_50{width:50px;}
.wid_53{width:53px;}
.wid_55{width:55px;}
.wid_60{width:60px;}
.wid_70{width:70px;}
.wid_75{width:75px;}
.wid_85{width:85px;}
.zst_explain{border:#e0eef6 solid 1px; margin-top:10px;}
.zst_explain h4{ background:#e7f1ff; font-size:12px; height:25px; line-height:25px; padding-left:15px;border-bottom:#e0eef6 solid 1px;}
.explain_text{ padding:10px; line-height:22px;}
.explain_text strong{margin-right:10px;}
.explain_text li{ background: url(/images/chart/ico-1.gif) no-repeat scroll 8px 11px; padding-left: 20px;}
.font_small{ font-size:8px;}
.tabtd3{height:2px;background:#dcdcdc!important;}
.line_r{border-right:#dcdcdc solid 2px!important;}
.line_l{border-left:2px solid #dcdcdc!important;}
.input_slt,.input_slt select{border:1px solid #ccc}
td.text_al_l{text-align:left;}
a.delete:link,a.delete:visited{filter:alpha(opacity=30);-moz-opacity:0.3;opacity:.30;background:url(/images/chart/close.png) no-repeat; width:16px; height:16px; display:inline-block; margin:0 2px 0 5px; vertical-align:middle;}
a.delete:hover{filter:alpha(opacity=60);-moz-opacity:0.6;opacity: .60;}
.sequence{width:75px;}
.sequence a{display:inline-block;font-weight:100;color:#333;cursor:default}/* padding:0 14px 0 0;
.sequence_up{background:url(/images/chart/sequence.png) no-repeat 30px 6px}
.sequence_down{background:url(/images/chart/sequence.png) no-repeat 30px -15px}*/
.gotobuy{text-align:left; padding:10px 10px 10px; overflow:hidden;border-bottom:2px solid #dcdcdc!important;}
.curent_ex{display:none;font-size:14px; width:180px;}
.buy_text{display:none;width:250px; line-height:35px; text-align:right; margin:0 10px;}
.curent_ex_d{font-size:14px;}
#timer{display:none}
a.add_h:link,a.add_h:visited{width:76px; height:20px; line-height:20px; display:inline-block; background:url(/images/chart/add.png) no-repeat; padding-left:22px; font-weight:100; color:#666; text-decoration:none; margin-top:5px; position:relative; top:-8px; left:-5px;}
a.add_h:hover{color:green}
a.buy_my:link,a.buy_my:visited{text-indent:25px;font-size:14px; color:#fff; display:inline-block; width:152px; height:35px; line-height:35px; background:url(/images/chart/gotobuy.png) no-repeat; margin-left:350px;}
a.buy_my:hover{background-position:0 bottom;text-decoration:none;color:#fff;}
.noData{width:540px; height:180px; background:url(/images/chart/nodata.png) no-repeat; position: relative; margin:0 auto;}
.noData a{position:absolute; top:117px; left:303px; width:131px; height:35px; display:block; text-indent:-9999em;}
.noData_box{padding:10px 0 0 150px; border:1px solid #ccc;}
.noData2{background:url(/images/chart/nodata2.png) no-repeat; height:260px; padding:36px 0 0 100px;}
.noData2 a{color:#2e6dc6}
.noData2 h3 a{font-size:14px; margin:0 0 0 190px;}
.noData2 ul{padding-top:10px}
.noData2 ul li{background: url(/images/chart/ico-1.gif) no-repeat scroll 8px 13px; padding-left: 20px; line-height:25px; margin-bottom:15px;}
.noData2 ul li a{margin-right:10px;}
/*yl*/
.yl_axis_table { font-size: 11px; position: relative; text-align: center; width: 100%; z-index: 99;}
.yl_axis_table td.h_line { width:0; background:#d6d6d6; font-size:0; padding:0 0 0 2px }
.yl_axis_table td { height:240px; line-height:20px; padding:0 3px; vertical-align:bottom; border-left:1px solid #fafafa;}
.hot_a, .hot_b { background:#c00; width:11px; height:1px; max-height: 200px; display:block; margin:0 auto; font-size:0; border-radius:2px 2px 0 0; zoom:1;}
.hot_b { background:#2f84d8; }
.axis_box{width:655px; padding-left:30px; float:left}
.axis_info{width:655px; overflow:hidden; overflow-x:scroll; padding-bottom:28px; position:relative; height:256px;}
.text_v {background:url(/images/chart/text_v_arrow.png) center bottom no-repeat; margin-left: -15px;position: absolute; z-index: 9999; width:40px; display:none;padding-bottom:5px; bottom:130px;}
.text_v span{border-radius:4px; color: #FFFFFF; background:#444; display:block;padding: 1px 2px;}
/*line-y*/
.axis_y, .axis_x { position: absolute; left: 0; top: 0; width:100%; height:240px; z-index:1;}
.axis_y li { position:absolute; left:0; width: 100%; z-index:1;}
.axis_y li span.line_y,.axis_x li span.line { position: absolute; z-index:1; border: 0 solid #777; font-size:0; display: block; opacity:.3; filter:alpha(opacity=30);}
.axis_y li span.line_y { border-top-width: 1px; width: 100%;}
.axis_x li span.label { position: absolute; color: #333; display:block }
/*line-x*/
.axis_x li { position: absolute; bottom: 0; height: 240px; font-size: 10px; }
.axis_x li span.line {border:0 solid #fff; border-width:0 19px; height: 240px; opacity:0; filter:alpha(opacity=0);bottom:0;}
.axis_x li span.label { top: 100%; margin-top: -3px; margin-left:-13px; }
.axis_issue{position: absolute;bottom: -25px;width: 90px;margin-left: -35px;font-size:12px;display:none}
.axis_arrow{position: absolute;bottom: -13px;display:none}
.axis_x_0,.axis_y_0{position:absolute; width:655px; height:2px; background:#333; font-size:0; top:240px; z-index:99999}
.axis_y_0{width:2px;height:240px; top:0;}
.axis_y_number li{position:absolute; width:60px; margin-left:-60px; margin-top:-6px; text-align:right; left:-5px;}
.axis_bg{position:absolute; left:0; top:0; height:240px; width:100%; background:#f5f5f5}
/**/
.yl_box { float:right; width:300px; background:#fff; border:1px solid #ccc; margin:19px 0 0;}
.yl_detal{padding:5px 0 10px; line-height:20px; color:#777; height:100%}
.yl_detal h2{font-size:14px; padding-bottom:5px; color:#333;}
.yl_detal h2 span{font-size:16px; color:#c00}
.yl_3menu input{margin-right:2px}
.yl_3menu label{font-size:12px; margin-right:5px;}
.yl_3menu li{float:left; border:1px solid #ccc; background:#fafafa; line-height:18px; padding:2px; margin-right:3px; vertical-align:middle}
.yl_3menu li.click{background:#fff2dd; border:1px solid #f8c87a}
.yl_title,.yl_scroll ul{width:300px; overflow:hidden;}
.yl_scroll ul{cursor:pointer}
.yl_title li{float:left; line-height:25px; border-bottom:1px solid #ffc77f; line-height:25px; background:#fff url(/images/chart/tbg.gif) repeat-x 0 0; text-align:center; font-weight:700;}
.yl_scroll li{text-align: center;white-space: nowrap;float:left; line-height:25px; }
.yl_data{width:80px; overflow:hidden;border-right:1px solid #ccc;font-weight:100}
.yl_hao{width:160px; overflow:hidden;}
li.yl_un{width:50px; overflow:hidden;font-weight:100;}
.chart_slt{margin-top:25px; padding-left:10px;}
.chart_slt a{display:inline-block; padding:0 10px; font:100 14px Verdana, Geneva, sans-serif; height:22px; padding:0 0 0 20px; line-height:22px;}
.ch1{border-right:1px solid #eee; padding-right:10px; margin-right:10px; display:inline-block;}
.chart_slt a:hover{text-decoration:none}
.chart_slt a.chart_k{background:url(/images/chart/chart_k.png) no-repeat 0 center;}
.chart_slt a.chart_z{background:url(/images/chart/chart_z.png) no-repeat 0 center;}
.ch_on{border-bottom:1px dashed #666;}

.search{padding:0 0 10px 2px;}
.search input,.search a{vertical-align:top;}
.search_text {color:#555; z-index: 5; width: 65px; height: 24px; padding: 0 0 0 6px; border: 1px solid #ccc; border-radius: 3px; box-shadow: 2px 2px 2px #eee inset; outline: none; -webkit-transition: all 0.15s ease-in; -moz-transition: all 0.15s ease-in; transition: all 0.15s ease-in; height: 20px\9; /* -- IE hack -- */ padding: 4px 0 0 6px\9; /* -- IE hack -- */ margin-right:5px; }
.number_text{width:148px;}
.search_text:hover, .search_text:focus { border: 1px solid #999999; -webkit-transition: all 0.15s ease-in; -moz-transition: all 0.15s ease-in; transition: all 0.15s ease-in; }
.search_btn,.sea_date{background:url(/images/chart/input_btn.png) repeat-x 0 0; border:1px solid #fa8952; border-radius:2px; height:23px; line-height:23px; padding:0 10px; color:#fff; font-weight:700; display:inline-block;}
a.search_btn:hover,a.sea_date:hover{background-position:0 bottom}
a.sea_date{height:18px; line-height:18px; padding:0 5px;color:#fff;text-decoration:none}
/**/
.week{float:none; width:970px; margin-right:0;}
.week .axis_x_0{width:970px;}
.week .axis_info{width:970px;}
.week .yl_detal{padding-bottom:15px;}
/**/
.go{width:37px;height:106px;background:#fff;border-radius:5px;box-shadow:0 0 2px #aaa}
.go{position:fixed;right:5px;top:300px; z-index:999;}
/****IE6 go ***/
*html{background-image:url(about:blank); background-attachment:fixed;} 
.go{_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+300));}
.go a{background:url(/images/chart/a.png) no-repeat;display:block;width:37px;margin:5px 0;border:0;overflow:hidden;float:left}
.go .top{background-position:0 -33px;height:22px}
.go .feedback{background-position:0 -54px;height:32px}
.go .bottom{background-position:0 -88px;height:22px}
.go .top:hover{background-position:-38px -33px}
.go .feedback:hover{background-position:-38px -54px}
.go .bottom:hover{background-position:-38px -88px}
.new_head{position:absolute; top:134px; right:5px;}
.new_head a{width:26px; height:89px; display:block; text-indent:-9999em; background:url(/images/chart/new_head.png) no-repeat;}
/**/
.fast{position:fixed;right:0;bottom:0;z-index:9999;}
*html .fast{position:absolute; bottom:auto; top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
.fast_small{background:#f7f7f7;border:1px solid #eb2222; border-width:2px 1px 1px; color:#c00; text-align:center; padding:5px; cursor:pointer;}
.fast_show{width:330px;background:#fff; border:1px solid #b10904; border-width:2px 1px 1px;}
.fast_title{background:#f7f7f7 url(/images/chart/fast.png) repeat-x 0 0; height:29px; line-height:29px; border-bottom:1px solid #c3c3c3; padding-left:10px; font-size:14px; overflow:hidden; position:relative;}
.fast_info{padding:10px 0;}
.num_text{width:305px; height:100px; padding:2px; overflow:scroll; overflow-x:hidden; border:1px solid #ccc; margin:0 auto;}
.num_text dl{overflow:hidden;border-bottom:1px dashed #ccc; padding-bottom:5px; margin-bottom:5px; white-space:nowrap; display:block;}
.num_text dl dt{float:left; clear:left; padding-right:5px; font-weight:700; width:80px;}
.num_text dd span{width:170px; display:inline-block}
.num_text dd a{color:#666;}
.num_text dd a:hover{color:#c00}
.fast_buy{margin-top:5px; line-height:30px; padding:0 10px;}
.fast_buy span a{background:url(/images/chart/fast.png) no-repeat 0 -90px; width:82px; height:30px; display:block; overflow:hidden; float:right; text-indent:-999em;}
.fast_buy span a:hover{background-position:0 -120px;}
.fast_btn{ position:absolute; right:0; top:8px;}
.fast_close{background:url(/images/chart/fast.png) no-repeat 99999px 99999px; text-indent:-9999em; width:13px; height:13px; float:left; margin-right:8px;}
a.fast_close:link,a.fast_close:visited{background-position:-50px -36px;}
a.fast_close:hover{background-position:-50px -67px;}
.num{position:relative;}
.open{position:absolute; top:-33px; left:60px; display:none;}
.open_info{background:#dd2816; color:#fff; padding:0 8px; border-radius:4px; font-weight:100; white-space:nowrap}
.triangle{background:url(/images/chart/triangle.png) no-repeat; width:7px; height:7px; float:left; font-size:0; margin-left:10px; _display:none}
/**/
.air_box{padding:10px 0 10px 17px}
.air_col,.rad_ball,.blue_ball,.air_col_blue{float: left;width: 138px;border: 1px solid #f06b12;margin:10px 10px 0;overflow:hidden;text-align:center; color:#666; background:#fff;}
.air_col dt,.rad_ball dt,.blue_ball dt,.air_col_blue dt{height: 20px;line-height: 20px;border-bottom: 1px solid #eee;background:#ffdede; color:#333}
.air_col dd,.rad_ball dd,.blue_ball dd,.air_col_blue dd{width:22px; line-height:20px;float:left;border-right: 1px solid #eee;border-bottom: 1px solid #eee; font-size:11px;}
.air_col_blue{width:92px;border: 1px solid #3aaef7; margin:10px 13px 0}
.air_col_blue dt{background:#c2e5fc;}
.air_col_blue .award{background:#ecf9ff;color:#4f88c3;}
.air_col_blue .award_over{background:#3399FF;color:#fff;}
.dlt{width:115px}
.award{background:#fff3f2;color:red; font-weight:700;}
.blank{background:#D8D8D8;}
dd.award_over{background:#F30;color:#fff}
.fourFw{background:#fcb50a}
.red_title{border-bottom:1px solid #ccc; font-size:14px; padding:0 5px 5px; margin:0 27px 10px; text-align:center; overflow:hidden; clear:left}
.rad_ball,.blue_ball{ float:none; margin:0; border:1px solid #f06b12}
.rad_ball dt{background:#ffdede;}
.rad_ball dd,.blue_ball dd{cursor:pointer}
.red_ok{background:#c00; color:#fff;}
.blue_ball{border:1px solid #3aaef7; width:92px}
.blue_ball dt{background:#c2e5fc;}
.blue_ok{background:#39F; color:#fff;}
.col_show .thbg1 th{ background:#ecf9ff;}
.col_show .thbg2 th{ background:#edfbd8;}
.col_show th,.col_show td{border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
.col_show{width:200px; margin:0 10px; border:1px solid #ccc; text-align:center; line-height:20px;}
.ball_clear{text-align:center; padding:5px}
.ball_clear input{margin:0 5px 0; cursor:pointer; padding:2px; width:64px; height:24px; text-indent:-999em; border:0 none;}
.ball_clear .ball_clear_red{background:#c00 url(/images/chart/ball_btn.png) no-repeat 0 0; }
.ball_clear .ball_clear_blue{background:#2385e7 url(/images/chart/ball_btn.png) no-repeat right 0; }
a.buy_my_red:link,a.buy_my_red:visited{ margin:5px 0 0 0; display:block; width:94px; height:37px; background:#ff7a09 url(/images/chart/ball_btn.png) no-repeat 0 bottom; text-indent:-999em;}
a.buy_my_red:hover{background-position:right bottom}
/**/
.arrow_box{position:relative;z-index: 998; width:1000px;}
.arrow{width:1000px;}
.arrow a{width:34px; height:26px; position:absolute; top:80px; filter:alpha(opacity=60);-moz-opacity:0.6;opacity:.60; z-index:997; text-indent:-9999em;}
.arrow a:hover{filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
.arrow_r{background:url(/images/chart/arrow_r.gif) no-repeat; right:5px;}
a.arrow_r:hover{background:url(/images/chart/arrow_r_over.gif) no-repeat;}
.arrow_l{background:url(/images/chart/arrow_l.gif) no-repeat; left:5px; display:none;}
a.arrow_l:hover{background:url(/images/chart/arrow_l_over.gif) no-repeat;}
.old_in{position:absolute; top:7px; right:4px;}
.old_in a{background:url(/images/chart/old_in.gif) no-repeat; width:83px; height:24px; text-indent:-9999em; display:block;}
/* loading */
.mask {position: absolute;background: #000;z-index: 99998;filter:alpha(opacity=30);-moz-opacity:0.3;opacity:.30;width: 100%;right: auto;}
.loadPic {position: absolute;z-index: 99999;top: 50%;left: 50%;width: 200px;margin-left: -100px;height: 80px;margin-top: -40px;text-align: center;}
/* K line */
#KChartBox{height:240px;background:#fff;overflow:hidden;}
#KChartPoints{position: absolute; z-index: 99;}
#KChartUl{position: absolute; z-index: 1;}
#KChartLine {height: 240px;position:absolute;left:0; top:0;}
.k_text {background:url(/images/chart/text_v_arrow.png) 10px 10px no-repeat; position: absolute; z-index: 9999; height:43px;white-space:nowrap; display:none;left:-11px; top:-43px; }
.k_text span{border-radius:4px; color: #FFFFFF; background:#444; display:block;padding: 3px 5px; font-size:12px;}
.k_point{font-szie:0; position:absolute;z-index:9;border-radius:6px;}
.k_value{position:absolute;z-index:9; text-align:center;}

.open_time {background: none repeat scroll 0 0 #F5F5F5;border: 1px solid #EEEEEE;color: #333333;display: inline-block;font-family: "Times New Roman",Times,serif;font-size: 20px;font-weight: bold;padding: 2px 8px;width: 80px;}
.buy_mytouzhu{margin-left:50px !important;}
.zst_edit label{*position: relative; *left:-3px;}
#byday{width:75px;vertical-align:top;}
.hasDatepicker{color:#666;border:1px solid #ccc; height:18px;line-height:18px;width:90px;background:url("http://j.kuaicaile.com/images/chart/icon_deta.png") no-repeat 75px center;vertical-align:top;}