<div style="height: .8em;"></div>
<div class="xlnav-fotter-box xlele-box xlnav-placeholder">
	<div class="xlnav-fotter-content xlele-content">
		<div class="xlmenu-box clearfix">
			<div class="xlmenu-item">
				<a>
					<img  class="xl9g-img" src="../../image/navBar/navbar010.png">
					<span class="xl9g-text">赚彩豆</span>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="xlnav-fotter-box xlele-box">
	<div class="xlnav-fotter-content xlele-content">
		<div class="xlmenu-box clearfix" id="foot_menu_box">
			<div class="xlmenu-item" asrc="../../image/navBar/navbar011.png" dsrc="../../image/navBar/navbar010.png">
				<a href="../weixinmp/home.html">
					<img  class="xl9g-img" src="../../image/navBar/navbar010.png">
					<span class="xl9g-text">首页</span>
				</a>
			</div>
			<div class="xlmenu-item" asrc="../../image/navBar/navbar031.png" dsrc="../../image/navBar/navbar030.png">
				<a href="../weixinmp/shopping_ds.html">
					<img  class="xl9g-img" src="../../image/navBar/navbar030.png">
					<span class="xl9g-text">商城</span>
				</a>
			</div>
			<div class="xlmenu-item" asrc="../../image/navBar/navbar021.png" dsrc="../../image/navBar/navbar020.png">
				<a href="../discover/dis_frame.html">
					<img  class="xl9g-img" src="../../image/navBar/navbar020.png">
					<span class="xl9g-text">发现</span>
				</a>
			</div>
			<div class="xlmenu-item" asrc="../../image/navBar/navbar041.png" dsrc="../../image/navBar/navbar040.png">
				<a onclick="Common.openPage('../weixinmp/mine.html', null, 'phone_valid')">
					<img  class="xl9g-img" src="../../image/navBar/navbar040.png">
					<span class="xl9g-text">我的</span>
				</a>
			</div>
		</div>
		<div id="returnTop" class="xl-return-top hide">
			<img src="../../image/icon/fanhuidingbu.png">
		</div>
	</div>
</div>