<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd">
             
     <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">  
    	<property name="maxTotal" value="10"/> 
    	<property name="maxIdle" value="10" />
    	<property name="maxWaitMillis" value="10000" />
    	<property name="testOnBorrow" value="true" />
	</bean>  
		
	<bean id="eventCache" class="redis.clients.jedis.JedisPool" destroy-method="destroy">  
        <constructor-arg ref="jedisPoolConfig" />    
        <constructor-arg type="String" value="${rocketMQ.verify.cache.redis.address}" />    
        <constructor-arg type="int" value="${rocketMQ.verify.cache.redis.port}" />    
	</bean> 
 
	    
</beans>  