html, body {
    font-family: 微软雅黑;
}

.clear {
    clear: both;
}

.null {
    width: 100%;
    height: 10px;
    background: #E9E9E9;
}
select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: #ffffff!important;
}
.ball {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 25px;
    margin: 3px;
    text-align: center;
}

.red_all_ball {
    color: white;
    background: #f24343;
    border: 1px solid #f24343;
}

.blue_all_ball {
    color: white;
    background: #4A96F6;
    border: 1px solid #4A96F6;
}

.container {
    padding: 0;
}

.row {
    margin: 0;
}

.head_tab {
    width: 80%;
    line-height: 30px;
    text-align: center;
    border: 1px solid #D43B33;
    border-radius: 8px;
    margin: 20px auto;
}

.head_tab .col-xs-6.active {
    color: #ffffff;
    background: #D43B33;
}

.head_tab .col-xs-6.active:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.head_tab .col-xs-6.active:last-child {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.lottery_information .lottery_periods {
    width: 100%;
    line-height: 26px;
    padding-left: 20px;
    position: relative;
}

#periods_shsq, #periods_7lc {
    width: 140px;
    height: 26px;
    border-radius: 6px;
    padding-left: 10px;
    border: 1px solid #B3B3B3;
    -webkit-appearance: none;
}

.lottery_information .lottery_periods i {
    font-size: 22px;
    color: #808080;
    position: absolute;
    top: -3px;
    left: 213px;
}

.lottery_information .lottery_balls {
    padding-left: 18px;
}

.bets_way {
    width: 100%;
    line-height: 30px;
    text-align: center;
    background: #E9E9E9;
    position: relative;
    margin-bottom: 15px;
}

.bets_way .col-xs-6:first-child:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #aeaeae;
    position: absolute;
    top: 7px;
    right: 0;
}

.bets_way .bets_way_name {
    padding: 5px 8px;
}

.bets_way .bets_way_name.active {
    color: #B9221A;
    border-bottom: 2px solid #B9221A;
}

#general_shsq, #bravery_shsq, #general_7lc, #bravery_7lc {
    width: 100%;
    padding: 0 20px;
}

.sevenlc,#bravery_shsq,#bravery_7lc{
    display: none;
}

.my_bets_balls {
    margin-bottom: 50px;
}

.my_red_ball, .my_blue_ball {
    -webkit-appearance: none;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    padding-left: 15px;
    border: 1px solid #B3B3B3;
}

.my_red_ball {
    border: 1px solid #f24343;
}

.my_blue_ball {
    border: 1px solid #4A96F6;
}

.my_bets_balls_red, .my_bets_balls_blue {
    position: relative;
}

.red_icon, .blue_icon {
    font-size: 22px;
    position: absolute;
    top: -1px;
    right: 10px;
}

.sevenlc #general_7lc .red_icon {
    top: -5px;
}

.red_icon {
    color: #f24343;
}

.blue_icon {
    color: #4A96F6;
}

.zhushu, .price, .bonus_num, .red {
    color: #f24343;
}

.my_bets {
    margin-bottom: 20px;
}

.jisuan {
    width: 100%;
    clear: both;
    margin: 65px 0 25px;
}

.jisuan .btn {
    display: block;
    width: 310px;
    line-height: 30px;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 8px;
}

.bonus {
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
}

.bonus_num {
    font-size: 22px;
}

.bonus_classify {
    width: 100%;
    margin-bottom: 20px;
}

.bonus_classify .row .col-xs-2, .bonus_classify .row .col-xs-3 {
    padding: 0;
    text-align: center;
    /*width: 20%;*/
}

.my_bets_name {
    color: #9B9B9B;
}

.bonus_classify .row .col-xs-2 {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
}

.bonus_classify .row {
    line-height: 35px;
    border-bottom: 1px solid #d5d5d5;
}

.bonus_classify .row:first-child {
    color: #a3a3a3;
    background: #E9E9E9;
    border-top: 1px solid #d5d5d5;
}

.explain {
    width: 100%;
    line-height: 45px;
    font-size: 18px;
    padding-left: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E9E9E9;
}

.explain_cont {
    width: 100%;
    padding: 0 16px;
    text-align: justify;
}

.explain_cont p {
    margin-bottom: 5px;
}

.sevenlc .jisuan {
    margin-top: 40px;
}

.sevenlc #general_7lc .my_bets_balls {
    margin-bottom: 10px;
}

.special_num span{
    float: left;
    position: relative;
    margin-left: 25px;
}
.special_num span:first-child{
    margin-left: 0;
}

.special_num label {
    font-weight: normal;
}

.special_num input {
    position: absolute;
    left: -9999px;
}

.special_num i {
    display: inline-block;
    position: absolute;
    top: 1px;
    left: -18px;
    width: 15px;
    height: 15px;
    outline: 0;
    border: 1px solid #CCCCCC;
    background: #ffffff;
    border-radius: 50%;
    transition: border-color .3s;
    -webkit-transition: border-color .3s;
}

.special_num input:checked + i {
    border-color: #CCCCCC;
}

.special_num input + i:after {
    position: absolute;
    content: '';
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #F24242;
    opacity: 0;
    transition: opacity .1s;
    -webkit-transition: opacity .1s;
}

.special_num input:checked + i:after {
    opacity: 1;
}

#bravery_7lc{
    margin-bottom: 85px;
}