html, body {
    position: relative;
}
a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}
p{
    margin-bottom: 0;
}
ul{
    padding: 0;
    list-style-type: none;
}
.red{
    color: #F14645;
    margin: 10px;
}
.blue{
    color: #5CA0F5;
    margin: 10px;
}
.container{
    padding: 0 0 60px 0;
}
.btn{
    padding: 3px 8px;
}
.btn-default{
    border-color: #e0e0e0;
}
.red_top,.blue_top{
    width: 320px;
    line-height: 60px;
    font-size: 16px;
    vertical-align: middle;
    margin: 0 auto;
    padding-left: 10px;
}
.red_top>span,.blue_top>span{
    display: inline-block;
    width: 60px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 3px;
    margin-right: 5px;
    position: relative;
}
.red_cont,.blue_cont{
    width: 320px;
    margin: 0 auto;
    padding-left: 3px;
}
.red_ball,.blue_ball{
    display:inline-block;
    width:33px;
    height:33px;
    font-size: 16px;
    border: 1px solid #e5e5e5;
    color: #F14141;
    border-radius:50%;
    line-height:33px;
    margin: 6px 6px;
    text-align:center;
    box-sizing: border-box;
}
@media screen and (min-width: 370px) {
    .red_top,.blue_top{
        width: 370px;
    }
    .digits .red_ball{
        margin: 6px 9px;
    }
    .red_cont,.blue_cont{
        width: 370px;
    }
    .red_ball,.blue_ball{
        width:40px;
        height:40px;
        line-height:40px;
    }
}
.blue_cont .blue_ball{
    color: #4A96F5;
    /*text-align: justify;*/
}
#jx_red_ball{
    background: #F24242;
    margin-top: -4px;
}
#jx_blue_ball{
    background: #4A95F5;
    margin-top: -4px;
}
#jx_blue_ball,#jx_red_ball,#matrix_filter{
    border: none;
}
#empty_red_ball,#empty_blue_ball,#empty_baiwei,#empty_gewei,#empty_shiwei{
    color: #AFAFAF;
    margin-left: 15px;
}
.red_ball.active{
    color: #ffffff;
    background: #F14141;
    border: 1px solid #F14141;
}
.blue_ball.active{
    color: #ffffff;
    background: #4A96F6;
    border: 1px solid #4A96F6;
}
.select_ball,.rotate_ball{
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.rotate_ball{
    width: 100%;
    padding: 15px 13px;
}
.rotate_ball p{
    font-size: 16px;
    margin-bottom: 10px;
}
.rotate_ball .col-xs-3{
    padding: 0 0 0 20px;
    text-align: center;
}
.foot_explain{
    padding: 15px 15px 15px 35px;
    position: relative;
}
.foot_explain .gray_wenzi{
    color: #848484;
}
.foot_explain p:first-child{
    margin-bottom: 10px;
}
.foot_explain .wenhao{
    display:inline-block;
    width:18px;
    height:18px;
    border: 1px solid #F14141;
    color: #F14141;
    border-radius:50%;
    line-height:17px;
    text-align:center;
    box-sizing: border-box;
    position: absolute;
    top: 16px;
    left: 12px;
}
.navbar-fixed-bottom{
    background: #FAFAFA;
    padding: 0 10px;
    border-top: 1px solid #F2F2F2;
}
.navbar-fixed-bottom p{
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
}
.navbar-fixed-bottom .anniu{
    float: right;
    line-height: 48px;
}
.navbar-fixed-bottom .anniu #empty_all,#matrix_filter{
    width: 86px;
    line-height: 32px;
    font-size: 16px;
    padding: 0;
    margin-right: 10px;
}
#matrix_filter{
    background: #F24242;
    margin-right: 0;
}
.navbar-fixed-bottom .anniu a:link{
    background: #CCCCCC;
}
.navbar-fixed-bottom .anniu a:visited{
    background: #CCCCCC;
}
.navbar-fixed-bottom .anniu a:hover{
    background: #ffffff;
}
.navbar-fixed-bottom .anniu a:active{
    background: #CCCCCC;
}
.navbar-fixed-bottom .jizhu{
    padding-left: 4px;
}
.navbar-fixed-bottom .how_much{
    color: #F24242;
    margin-left: 5px;
}
#tost{
    width: 260px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    background: #000;
    opacity: 0.6;
    color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 70px;
    display: none;
}

html, body {
    position: relative;
}
.rotate_ball .row {
    position: relative;
}

.rotate_ball .row label {
    font-weight: normal;
}

.rotate_ball .row input {
    position: absolute;
    left: -9999px;
}

.rotate_ball .row i {
    display: block;
    position: absolute;
    top: 2px;
    left: 15px;
    width: 15px;
    height: 15px;
    outline: 0;
    border: 1px solid #CCCCCC;
    background: #ffffff;
    border-radius: 50%;
    transition: border-color .3s;
    -webkit-transition: border-color .3s;
}

.rotate_ball .row input:checked + i {
    border-color: #CCCCCC;
}

.rotate_ball .row input + i:after {
    position: absolute;
    content: '';
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #F24242;
    opacity: 0;
    transition: opacity .1s;
    -webkit-transition: opacity .1s;
}

.rotate_ball .row input:checked + i:after {
    opacity: 1;
}
.redBall {
    border: 1px solid #F24242;
}

.blueBall {
    border: 1px solid #318ff1;
}
.red_top .form-control,.blue_top .form-control{
    display: inline-block;
    width: 60px;
    height: 26px;
    font-size: 16px;
    padding: 0 0 0 5px;
    position: relative;
    top: 10px;
    -webkit-appearance:none;
}
.red_top .geshu,.blue_top .geshu{
    position: absolute;
    z-index: 8888;
    top: 10px;
    left: 23px;
}
.red_top .geshu i,.blue_top .geshu i{
    font-size: 18px;
    color: #F14141;
    position: relative;
    top: -3px;
}
.blue_top .geshu i{
    color: #318ff1;
}

.head {
    line-height: 50px;
    text-align: center;
    margin: 0;
    font-size: 18px;
}

.head .col-xs-6 {
    padding: 0;
}

.head .col-xs-6.active {
    color: #D53E36;
    border-bottom: 2px solid #D53E36;
}

.null {
    width: 100%;
    height: 10px;
    background: #F2F2F2;
}

.container .biaozhun > p {
    color: #808080;
    width: 370px;
    margin: 0 auto;
    padding: 10px 15px;
}

.digits .digits_top .digits_name {
    display: inline-block;
    width: 60px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    background: #FE9900;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-right: 10px;
}

.digits .digits_top .fenlei {
    display: inline-block;
    width: 35px;
    line-height: 25px;
    text-align: center;
    color: #FE9900;
    border: 1px solid #FE9900;
    border-radius: 15px;
    margin: 0 5px;
}

.digits_cont {
    padding: 8px 0 10px 70px;
}

.digits {
    width: 375px;
    padding-top: 15px;
    border-bottom: 1px solid #e0e0e0;
    margin: 0 auto;
}
@media screen and (min-width: 359px) {
    .red_top,.blue_top{
        width: 360px;
    }
    .digits .red_ball{
        margin: 6px 9px;
    }
    .red_cont,.blue_cont{
        width: 360px;
    }
    .red_ball,.blue_ball{
        width:39px;
        height:39px;
        line-height:39px;
    }
}
.digits:last-child{
    border: none;
}

.hezhi {
    width: 370px;
    margin: 15px auto;
    display: none;
}