.ball {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: -webkit-gradient(radial, 50% 120%, 0, 50% 120%, 100, color-stop(0%, #81e8f6), color-stop(10%, #76deef), color-stop(80%, #055194), color-stop(100%, #062745));
    background: -webkit-radial-gradient(50% 120%, circle cover, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    background: -moz-radial-gradient(50% 120%, circle cover, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    background: -o-radial-gradient(50% 120%, circle cover, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    background: radial-gradient(50% 120%, circle cover, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}
.ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: -webkit-gradient(radial, 50% 0px, 0, 50% 0px, 58, color-stop(0%, #ffffff), color-stop(58%, rgba(255, 255, 255, 0)));
    background: -webkit-radial-gradient(50% 0px, circle cover, #ffffff, rgba(255, 255, 255, 0) 58%);
    background: -moz-radial-gradient(50% 0px, circle cover, #ffffff, rgba(255, 255, 255, 0) 58%);
    background: -o-radial-gradient(50% 0px, circle cover, #ffffff, rgba(255, 255, 255, 0) 58%);
    background: radial-gradient(50% 0px, circle cover, #ffffff, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    z-index: 2;
}
.ball p{margin:0;padding:0;text-align:center;color:#ccc;font-size:8px;font-family:arial;text-shadow:2px 1px 4px #333333;padding-top:3px}
.ballBox{position:absolute;}
.xBox{position:relative;width:68px;height:235px;}
.stage {
    width: 16px;
    height: 16px;
    margin: 0px;
    display: inline-block;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}
.red{
    background: -webkit-gradient(radial, 50% 120%, 0, 50% 120%, 100, color-stop(0%, #FFCACA), color-stop(10%, #FF2F2F), color-stop(80%, #DF0000), color-stop(100%, #062745));
    background: -webkit-radial-gradient(50% 120%, circle cover, #FFCACA, #FF2F2F 10%, #DF0000 80%, #062745 100%);
    background: -moz-radial-gradient(50% 120%, circle cover, #FFCACA, #FF2F2F 10%, #DF0000 80%, #062745 100%);
    background: -o-radial-gradient(50% 120%, circle cover, #FFCACA, #FF2F2F 10%, #DF0000 80%, #062745 100%);
    background: radial-gradient(50% 120%, circle cover, #FFCACA, #FF2F2F 10%, #DF0000 80%, #062745 100%);
}
ul,li{
    list-style-type: none;
}

/*首页*/
.swiper-pagination-bullet-active{
    background: #fff;
}
.now_lottery .ball {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 24px;
    margin: 2px;
    text-align: center;
}

.now_lottery .red_ball {
    color: #f24343;
    border: 1px solid #f24343;
}

.now_lottery .blue_ball {
    color: #669BDB;
    border: 1px solid #669BDB;
}

.now_lottery .red_all_ball {
    color: white;
    background: #f24343;
    border: 1px solid #f24343;
}

.now_lottery .blue_all_ball {
    color: white;
    background: #4A96F6;
    border: 1px solid #4A96F6;
}

.container {
    padding: 0;
}

.swiper-container img{
    width: 100%;
    height: 160px;
}

.now_lottery {
    height: 80px;
    overflow: hidden;
    padding: 8px 20px 10px 20px;
    position: relative;
}

.now_lottery .lottery_cont {
    height: 95px;
}

.now_lottery .color_name {
    font-size: 18px;
    margin: 0 10px 0 3px;
}

.now_lottery .nper {
    color: #696969;
}

.now_lottery:after {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    color: #BBBABE;
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 20px;
}

.null {
    width: 100%;
    height: 10px;
    background: #F5F5F5;
}

.cont {
    padding: 25px;
    text-align: center;
}

.cont .col-xs-4 {
    padding: 0;
}

a:link, a:visited, a:hover, a:active {
    color: #000;
    text-decoration: none;
}

.cont dl {
    position: relative;
}

.cont dl dt img {
    width: 70px;
    margin-bottom: 5px;
}

.cont dl dd {
    font-size: 18px;
}

.cont dl dd:last-child {
    font-size: 16px;
    color: #A1A1A1;
}

/*幸运选号*/

#scream {
    width: 310px;
}

.top_menu {
    /*width: 80%;*/
    padding-top: 90px;
}

.top_menu ul {
    padding: 0;
    /*width: 90%;*/
    margin-bottom: 0;
    text-align: center;
    position: relative;
}

.top_menu .one_ul li {
    list-style-type: none;
    display: inline-block;
    width: 90px;
    line-height: 35px;
    text-align: center;
    border: 6px solid #B22F34;
    border-radius: 25px;
    margin: 0 6px;
    color: #D43C40;
    font-size: 16px;
    font-weight: 900;
    background: #FACD18;
    position: relative;
}

.boxshadow{
    box-shadow: inset 0 -2px 1px 2px #DD7708;
}
.top_menu .one_ul li:after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 6px;
    background: #B22F34;
    position: absolute;
    top: 15px;
    left: 106%;
}

.top_menu .one_ul li:last-child:after {
    content: normal;
}

.one_ul li.active {
    color: #fff;
    background: #FFA11B;
}

.two_ul {
    margin-top: 10px;
}

.top_menu .two_ul li {
    display: inline-block;
    width: 50px;
    height: 60px;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    background: #FE7C7C;
    border-radius: 50%;
    text-align: center;
    position: relative;
}

.two_ul li.active {
    background: #FFCF3D;
}

.null_img {
    display: none;
}

#turntable {
    position: relative;
    width: 320px;
    top: -20px;
    margin: 0 auto;
    text-align: center;
}

#canvas {
    -webkit-transform: all 6s ease;
    transition: all 6s ease;
    position: absolute;
    top: 24px;
    left: 30px;
}

#btn1 {
    position: absolute;
    left: 120px;
    top: 115px;
    width: 80px;
    height: 80px;
    text-align: center;
}

.zushu, .get_lucky_num, .lucky_record {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    color: #fff;
}

.get_lucky_num img {
    width: 200px;
    padding-top: 20px;
}

.lucky_record img {
    width: 120px;
    padding-top: 20px;
}

.zushu .zushu_num {
    display: inline-block;
    width: 30px;
    line-height: 30px;
    background: #FE7C7C;
    border-radius: 5px;
    margin: 0 5px;
}

.zushu .zushu_num.active {
    color: #F9CD50;
    border: 1px solid #F9CD50;
}

.tishi {
    color: #fff;
    margin: 10px 32px;
}

.xyxh_record .record_cont {
    width: 310px;
    margin: 0 auto 25px;
    border: 1px solid #F08519;
    border-radius: 5px;
}

.xyxh_record .record_cont .record_cont_top {
    width: 100%;
    line-height: 30px;
    text-align: center;
    color: #C53F30;
    background: #FFE260;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.xyxh_record .record_cont .record_cont_cont {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #FFE260;
}

.xyxh_record .every_time_cont {
    clear: both;
    margin: 0;
}

.xyxh_record .every_time_cont .record_time {
    width: 70px;
    text-align: center;
    border-right: 1px solid #FFE260;
    float: left;
}

.xyxh_record .every_time_cont dd {
    padding: 5px 0 0 90px;
    margin-bottom: -5px;
}

.xyxh_record .every_time_cont dd:last-child {
    padding-bottom: 10px;
}

.null_top {
    width: 50px;
    height: 45px;
    position: absolute;
    z-index: 666;
    top: 0;
    left: 30px;
}

.null_top:nth-child(2) {
    left: 240px;
}

.qq_phone {
    position: absolute;
    top: 80px;
    left: 70px;
    text-align: left;
}

.qq_phone .qq_phone_top {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    position: relative;
    text-shadow: 0 0 3px red;
}

.qq_phone .qq_phone_cont {
    line-height: 26px;
    border: 1px solid #D16645;
    border-radius: 5px;
}

.qq_phone .qq_phone_cont input {
    width: 180px;
    -webkit-appearance: none;
    outline: none;
    border: none;
}
.img_null{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 160px;
    left: 120px;
}
#modal{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 66666;
    display: none;
}
#modal .before_result{
    position: absolute;
    top: 360px;
    left: 120px;
    color: #fff;
    font-size: 20px;
}
#dialog{
    width: 80%;
    max-width: 320px;
    margin: 160px auto 0;
    background: #FDE05F;
    border-radius: 10px;
}
#dialog .dialog_top{
    width: 100%;
    padding: 15px 0 0 35px;
    color: #8C6009;
    font-size: 16px;
    text-align: center;
}
#dialog .shadow{
    width: 90%;
    height: 15px;
    margin: 0 auto;
    border-radius: 10px;
    background: #CEAE1B;
}
#dialog .dialog_ball{
    width: 80%;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
    background: #fff;
    position: relative;
    top: -10px;
}
#dialog .dialog_ball li{
    padding-top: 10px;
}
#dialog .dialog_ball li:last-child{
    padding-bottom: 10px;
}
#dialog .dialog_tishi{
    color: #AB821F;
    text-align: center;
    padding: 5px 0 20px;
}
#dialog .close{
    width: 25px;
    height: 25px;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
    font-size: 28px;
    color: #fff;
    opacity: 1;
    background: #E9C417;
    border-radius: 50%;
    margin: -5px 10px 0 0;
}
/*模拟开奖*/

.billboard {
    position: relative;
    top: 120px;
    border: 3px solid #2F9BBF;
    border-radius: 10px;
    width: 280px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
}

.billboard .ball{
    display: inline-block;
    width: 25px;
    height: 25px;
    color: #ccc;
    line-height: 25px;
    margin: 0 4px;
    text-align: center;
}
.billboard .ball p{
    font-size: 14px;
}

.container.mnkj {
    padding: 0;
    background: #FEC23E;
}

#emulator {
    margin: -40px auto 0;
    width: 320px;
    position: relative;
}

#emulator img {
    width: 180px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    left: 70px;
}

.top_lottery .top_color_name {
    position: relative;
    z-index: 666;
    top: 35px;
    width: 280px;
    line-height: 35px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.top_lottery .top_color_name li {
    width: 93px;
    color: #fff;
    margin-right: -4px;
    list-style-type: none;
    display: inline-block;
    background: #FFB020;
    text-align: center;
    border-right: 2px solid #fff;
}

.top_lottery .top_color_name li.active {
    background: #F45152;
}
.action{
    text-align: center;
    position: relative;
    top: 135px;
}
.action img{
    width: 190px;
}
.lottery_record{
    position: relative;
    margin-top: 10px;
}
.lottery_record .record_img{
    height: 0;
}
.lottery_record .record_img img{
    width: 160px;
    margin: 0 auto;
    position: relative;
    top: -70px;
}
.lottery_record>p{
    color: #8F4015;
    position: absolute;
    top: -20px;
    left: 35px;
}
.record_cont{
    margin-bottom: 30px;
}
.record_cont.mn_7lc{
    padding-bottom: 25px;
}
.record_cont_cont .red,#modal .red{
    color: #DF4E4D;
    background: none;
    margin: 0 4px;
}
.record_cont.mn_fc3d .red,.record_cont{
    margin: 0 8px;
}
.record_cont_cont .blue,#modal .blue{
    color: #4995F5;
    background: none;
    margin-left: 5px;
}
.record_cont .record_cont_top{
    width: 300px;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
    margin: 15px auto 0;
    color: #fff;
    background: #E54231;
}
.record_cont_cont{
    width: 270px;
    margin: 0 auto;
    padding: 0 10px;
    background: #fff;
}
.record_cont_cont li{
    list-style-type: none;
    border-top: 1px dashed #E54231;
    padding: 10px 0;
}
.record_cont_cont li:first-child{
    border-top: none;
}
.record_cont_cont .record_time{
    margin-right: 20px;
}