body,html {
	position: relative;
	height: 100%;
}

.top {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #22292c;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}

.menus_left,.menus_right {
	color: #ccc;
	display: inline-block;
	padding: 1px 5px;
	border: 1px solid #666;
	cursor: pointer;
	border-radius: 2px;
}

.menus_left {
	margin-left: 10px;
}

.menus_right {
	position: absolute;
	right: 10px;
	top: 10px;
}

.menus_left:hover,.menus_right:hover {
	color: #eee;
	border: 1px solid #999;
}

.page {
	position: absolute;
	top: 44px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	z-index: 1;
}

.top_nav {
	position: absolute;
	height: 130px;
	top: 44px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	z-index: 2;
	background: #666;
	display: none;
	color: #fff;
}

.menulists {
	position: absolute;
	width: 200px;
	height: 100%;
	top: 0px;
	left: -200px;
	background: url('../images/public/bg_universal17ced3.png');
	z-index: 3;
}

.menulists ul {
	margin: 0px;
	padding: 20px 5px 5px 10px;
	list-style: none;
	color: #EEE;
	font-size: 16px;
	line-height: 250%;
}

.menulists ul li {
	border-bottom: 1px solid #555;
}

.menulists ul a,.menulists ul a:hover {
	color: #eee;
	text-decoration: none;
	display: block;
}

.menulists ul a .fa-angle-right {
	color: #666;
	margin-top: 13px;
}

.term,.ball {
	position: absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	width: 60px;
	overflow: hidden;
}
.ball{
	width:20px;
	text-align:center;
}



.swiper-container-h {
	position: absolute;
	height: 100%;
	top: 0px;
	right: 0px;
	left: 59px;
}

.main_scroller,.term_scroller,.ball_scroller {
	position: absolute;
	top: 49px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	background: #FFF;
	z-index: 2;
}

.main_scroller {
	overflow-y: scroll;
}

.term_scroller,.ball_scroller {
	background: #efefef;
}

.main_table_header,.fix_table_header {
	background: #FFF7DF
}

.fix_table_header {
	cursor: pointer;
}

.fix_table_header td {
	height: 48px;
}

table {
	margin-bottom: 0px !important;
}

.table-condensed>thead>tr>th,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>tbody>tr>td,.table-condensed>tfoot>tr>td
	{
	padding: 3px;
}

.row .col-xs-5,.row .col-xs-4,.row .col-xs-2 {
	padding: 5px;
}

table td {
	vertical-align: middle !important;
	text-align: center !important;
	font-size: 12px;
}

td.omit {
	color: #999 !important;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:0;
}

.scale {
	color: #f00;
	background: #f7d5bc;
}

.scale_td {
	color: #f00;
	background: #CF9;
}

.top_nav .term_radio1 {
	margin: 5px;
}

.top_nav .term_radio1 span {
	margin-left: 35px;
	margin-right: 0px;
}

.top_nav .term_radio1 .radio-inline {
	padding-left: 10px;
}

.top_nav .term_radio2 {
	margin: 5px 10px 5px 78px;
}

.top_nav .term_radio2 input[type=text] {
	width: 80px;
}

.top_nav .term_checkbox {
	margin: 5px 10px;
	padding-right: 5px;
}

.top_nav .term_checkbox span {
	
}

.top_nav .term_checkbox .checkbox-inline {
	padding: 0px 0px 0px 10px;
}

.number {
	display: inline-block;
	background-color: #E51C1C;
	width: 16px;
	border-radius: 15px;
	color: #fff;
	font-weight: bold;
	position: relative;
	z-index: 1;
}

.top .title {
	color: #fff;
	position: absolute;
	top: 12px;
	left: 38%;
}

.number-r {
	display: inline-block;
	background-color: #FF0000;
	width: 16px;
	border-radius: 15px;
	color: #fff;
	font-weight: bold;
	box-shadow: 0 0 0 1px #bbb;
	position: relative;
	z-index: 1;
}

.number-y,.number-h,.number-t,.number-u {
	display: inline-block;
	background-color: #FEDEC6;
	width: 16px;
	border-radius: 15px;
	color: #FF231F;
	font-weight: bold;
	box-shadow: 0 0 1px 0 #000;
	position: relative;
	z-index: 2;
}

.td-red,.number-y {
	background-color : #FF6600;
	color: #fff;
}

.td-blue,.number-t {
	background-color: #3CF;
	color: #00F;
}

.td-green,.number-u {
	background-color: #13FA41;
	color: #008010;
}
.td-red,.td-blue,.td-green{
	padding:3px 0;
	width:100%;
	display:inline-table;
	color:#fff;
}

.mod3 >tbody>tr>td {
	padding: 3px 0;
	font-size: 12px;
}

.progress {
	margin-bottom: 0;
}

.progress-bar {
	background: url('../images/public/u243.png');
}
.progress-bar-blue{
	background: url('../images/public/u244.png');
}

.page-lr {
	position: absolute;
	top: 44px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	overflow: auto;
}

.page-lr .menulists {
	position: fixed;
	top: 44px;
}

.main_table_header th{
	vertical-align: middle !important;
  	text-align: center !important;
	font-size:12px;
	font-weight:normal;
  	background: #FFF7DF;
}
.main_table_header td{
	background:#FFF;
}
.page-fc3d .main_table_header td{
	background-color: #fff7df;
}
