.amap-point-item {
    position: relative;
}
.amap-point-item img {
    position: absolute;
    left: -50%;
    top: -50%;
    transform: translate(-50%, -50%);
}
.amap-point-item .amap-pi-img1 {
    width: 22px;
}
.amap-point-item .amap-pi-img2 {
    width: 16px;
}
.amap-point-item .amap-pi-img3 {
    width: 10px;
}
.amap-point-item span {
    font-size: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
    max-width: 50px;
    display: none;
}
.amap-pi-ssh .amap-point-item span {
    display: block;
}