.login-box {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.login-box .login-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 15px;
  max-width: 300px;
}
.login-box .login-form-forgot {
  float: right;
}
.login-box .login-form-button {
  width: 100%;
}
