:focus{
    outline: 0 !important;
}
.footer {
	display: none;
}

/*日历的层级调高*/
.dropdown-menu {
    z-index: 9999 !important;
}

/*表格抬头的高度*/
.ui-jqgrid .ui-jqgrid-htable th {
    text-align: center !important;
    vertical-align: middle !important;
    padding: 5px 0;
    height: 40px;
}
.ui-jqgrid .ui-jqgrid-htable th div {
    padding: 0;
    height: auto;
}
.ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize {
    display: none;
}

/*元素样式*/
.xltab-nav-box .form-group {
    margin-right: 10px;
    margin-bottom: 10px;
}
.xltab-nav-box .form-control {
    width: 90px !important;
}
.xltab-nav-box label {
    width: 85px;
    text-align: right;
}
.xltab-nav-box .btn {
    vertical-align: top;
}


/*文件上传*/
.dropzone.well {
    position: relative;
    height: 150px;
    min-height: 0;
    padding: 0;
    margin: 0;
}
.dropzone .dz-default.dz-message {
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.dropzone .dz-preview .dz-image {
    width: 100px;
    height: 100px;
}
.dropzone .dz-preview .dz-image img {
    height: 100%;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark {
    margin: -27px 0 0 -20px;
}

#gritter-notice-wrapper {
    width: auto;
    max-width: 300px;
}
